* {
    box-sizing: border-box;
    cursor:pointer;
}

html {
    font-size: 10px;
    border: unset;
}

/*LAYOUT*/
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3em;
    margin-left: 6.35em;
    margin-right: 6.35em;
}

#sedans, #suvs, #luxury {
    padding-right: .5em;
    padding-left: .5em;
    margin-left: 1em;
    margin-right: .5em;
    flex: 1 200px;
    max-height: 400px;
    max-width: 250px;
}

#sedans {
    border-radius: 1em 1em 0 0;
}

#luxury {
    border-radius: 0 0 1em 1em;
}
img {
    margin: 3em auto 2.5em 3.5em;
}

.heading {
    margin: 0em auto 1.0em 1.7em;
    padding-bottom: 0em;
}

p {
    margin: auto 3em 1.5em 3em;
    padding-bottom: .1em;
    line-height: 1.2pc;
}

/*COLORS*/
body, button {
    background-color: hsl(0, 0%, 95%);
}

.heading {
    color: hsl(0, 0%, 95%);
}

#sedans {
    background-color: hsl(31, 77%, 52%);
}

#suvs {
    background-color: hsl(184, 100%, 22%);
}

#luxury {
    background-color: hsl(179, 100%, 13%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
}
/*TYPOGRAPHY*/
@font-face {
    font-family: "Lexend Deca", "Big Shoulders Display";
    src: url(https://fonts.google.com/specimen/Big+Shoulders+Display),
         url(https://fonts.google.com/specimen/Lexend+Deca);
} 

html {
    font-family: "Lexend Deca", "Big Shoulders Display";
}

.heading {
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-size: 1.3em;
    font-weight: 400;
}

button {
    font-size: 1.1em;
    font-weight: 700;
    background-color: hsl(0, 0%, 95%);
    border: unset;
    border-radius: 1.8rem;
    padding: .9em 1.7em .9em 1.7em;
    margin: 0em auto 2.5em 3em;
}

button:hover {
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 95%);
}

#sedans>div>button {
    color: hsl(31, 77%, 52%);
}

#sedans>div>button:hover {
    color: hsl(0, 0%, 95%)
}

#suvs>div>button {
    color: hsl(184, 100%, 22%);
}

#suvs>div>button:hover {
    color: hsl(0, 0%, 95%)
}

#luxury>div>button {
    color: hsl(179, 100%, 13%);
}

#luxury>div>button:hover {
    color: hsl(0, 0%, 95%)
}

@media screen and (min-width: 553px) {
    #sedans, #suvs, #luxury {
        padding-right: .5em;
        padding-left: .5em;
        margin-left: 0em;
        margin-right: 0em;
        flex: 1 200px;
        min-height: 355px;
        max-width: 200px;
    }

    #sedans {
        border-radius: 1em 0em 0 0;
    }

    #suvs {
        border-radius: 0em 1em 1em 0em;
    }
}

@media screen and (min-width: 723px) {

        .cards {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            margin-top: 10em;
            margin-bottom: 5em;
            
        }

        #sedans, #suvs, #luxury {
            min-width: 18vw;
            padding-right: .1em;
            padding-left: .1em;
            height: 350px;

        }

        #sedans {
            border-radius: 1em 0em 0em 1em;
        }
    
        #suvs {
            border-radius: 0em 0em 0em 0em;
        }

        #luxury {
            border-radius: 0em 1em 1em 0em;
        }

        p {
            padding-bottom: 1.5em;
        }

        button {
            margin-top: 0em;
        }

    }

